.login {
color: rgb(11, 7, 223);
}
form {
  background-color: rgb(236, 243, 135);
  text-align: center;
  background-image: 
  url("login2.jpg");
  background-size: "cover";
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  backface-visibility: unset;
  background-repeat:no-repeat; 
}

.form2 {
  margin: auto;
  width: 300px;
  height: 400px;
  padding: 20px;
  border: 10px double rgb(243, 227, 4);
}

